html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.weui-tabbar p{
  margin: 0;
}
a{
  text-decoration: none;
}
.weui-tabbar__icon {
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
}
#myinfo .weui-cell{
  padding:0px 10px;
}
#myinfo .weui-cells{
  height: 45px;
  font-size: 13px;
}
